.user-nav {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 2em;
  gap: 1.4em;
}

.avatar {
  width: 50px;
  height: 50px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-size: cover;
}

.avatar.sm {
  width: 30px;
  height: 30px;
}
.user-nav textarea {
  border: none;
  outline: none;
  background-color: var(--bg-transparent);
  padding: 0.5em 2em;
  border-radius: 100vh;
  flex-grow: 1;
  font: inherit;
  overflow-y: hidden;
  /* margin-top: 2em; */
}

.btn {
  padding: 0.7em 1em;
  font: inherit;
}

.comments {
  display: grid;
  gap: 1em;
  margin-top: 1em;
  transition: 0.4s;
}

.comments > div {
  background-color: var(--bg-transparent);
  padding: 0.5em;
  border-radius: 0.2em;
}

.blog {
  margin-top: 3em;
}

.user-controls {
  display: flex;
  gap: 1em;
  margin-top: 1em;
  /* align-items: center; */
}

.user-controls > div {
  color: var(--primary-clr);
  display: flex;
  gap: 0.5em;
  align-items: center;
  border-radius: 0.4em;
  cursor: pointer;
}

.user-controls > textarea {
  border: none;
  outline: none;
  background-color: var(--bg-transparent);
  padding: 0.4em 0.7em;
  border-radius: 0.4em;
  flex-grow: 1;
  font: inherit;
  /* margin-top: 2em; */
  overflow-y: hidden;
}

.comment-btn {
  font: inherit;
  padding: 0.5em 0.7em;
  outline: none;
  border-radius: 0.4em;
  border: none;
}

.replies {
  margin-top: 1em;
}

.replies > div {
  display: flex;
  align-items: center;
  gap: 1.2em;
  padding: 0.4em;
}
.toggle-replies {
  visibility: hidden;
}

.toggle-replies:checked ~ .replies {
  display: none;
}
.default-avatar {
  background-color: var(--primary-clr);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}
