header {
  height: 70px;
  position: relative;
  background-color: var(--nav-bg-clr);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--nav-text-clr);
}

nav a {
  font-weight: 400;
  transition: all 0.4s ease;
}

header .container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  gap: 1em;
}
#nav-toggler {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.logo span {
  position: absolute;
  left: 80%;
}
.active,
nav a:hover {
  border-radius: 7px;
  padding: 0.2em 1.5em;
  border: 1px solid white;
}
