*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: var(--primary-clr);
  background-color: var(--bg-clr);
}

.container {
  width: 100%;
  max-width: 1000px;
  margin-inline: auto;
  padding-inline: 4vw;
}

a {
  font: inherit;
  text-decoration: none;
  color: currentColor;
  white-space: nowrap;
}
