:root {
  --bg-transparent: #f3bb2e4f;
}

:root[data-theme="light"] {
  --primary-clr: #10001d;
  --secondary-clr: #f3bc2e;
  --active-clr: #0036f5;
  --bg-clr: #fff;
  --nav-bg-clr: #f3bc2e;
  --nav-text-clr: var(--primary-clr);
  --text-field-bg: var(--bg-clr);
}

:root[data-theme="dark"] {
  --primary-clr: #f3bc2e;
  --secondary-clr: #10001d;
  --active-clr: #0036f5;
  --bg-clr: var(--secondary-clr);
  --nav-bg-clr: var(--bg-transparent);
  --nav-text-clr: var(--primary-clr);
}

:root[data-theme="light"] #sun {
  transition: all 0.4s;
  z-index: 5;
  stroke: var(--secondary-clr);
}
