---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Portfolio from "../components/Portfolio.astro";
import Aboutme from "../components/Aboutme.astro";
import Contact from "../components/Contact.astro";
import image from "../assets/greating.webp";
import { Image } from "astro:assets";
---

<Layout title="Highly organized and detail-oriented programmer and designer.">
  <Header />
  <main class="hero">
    <article>
      <h1>Creative web developer and designer</h1>
      <p>
        As a highly organized and detail-oriented programmer and designer,
        Muslim is always striving to improve his skills and creativity. His
        passion for learning and collaborating with individuals and teams of all
        sizes and levels of creativity drives him forward.
      </p>
      <a class="btn" href="#work">My Creative Journey</a>
    </article>
    <Image
      class="illustration"
      src={image}
      width={200}
      height={206}
      alt="hello, my name is Muslim"
      />
  </main>
  <Portfolio />
  <Aboutme />
  <Contact />
  <footer>
    <p>
      I love creativity, creativity is my culture. &copy; muslim uwitondanishema {
        new Date().getFullYear()
      }
    </p>
  </footer>
</Layout>

<style lang="scss">
  main {
    position: relative;
  }
  main::before,
  main::after {
    position: absolute;
    content: "";
    width: 1rem;
    height: 1rem;
    background-color: #ffffff;

    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    border-radius: 50%;
    animation: bounce 5s linear infinite alternate;
  }
  main::before {
    animation-duration: 2.5s;
  }

  @keyframes bounce {
    to {
      bottom: 20%;
      background-color: #574100;
    }
  }
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  .hero {
    display: flex;
    align-items: center;
    min-height: calc(100dvh - 70px);
  }

  .hero * {
    margin-block: 0.7rem;
  }

  .illustration {
    transform: translateY(-20%);
    max-width: 20rem;
    pointer-events: none;
    mix-blend-mode: luminosity;
    z-index: -10;
    animation: bounce1 1s linear infinite alternate;
  }

  @keyframes bounce1 {
    50%,
    55% {
      transform: translateY(-22%) rotate(-1deg);
    }
  }
  @media (max-width: 500px) {
    .illustration {
      display: none;
    }
  }
</style>
