---
import { Image } from "astro:assets";
import profile from "../assets/muslim.jpeg";
const skills = ['figma','adobe XD','adobe illustrator','inkscape','HTML/CSS','bootstrap','tailwindCSS','Sass','javascript','typescript','reactjs','redux','zustand','jest','nodejs','express','nextjs','mocha','java','PHP','c/c++','python','solidity','mysql','postgresql','mongodb','docker','git','linux server']
---

<section id="about">
  <div>
    <h2 class="underline">Who I am!</h2>
    <article>
      <div>
        <h3>Hi, I am UWITONDANISHEMA Muslim</h3>
        <p>
          A highly organized and detail-oriented programmer and designer with 2
          years of experience.
        </p>
        <p>
          I specialize in creating cohesive, efficient, and effective web
          applications that seamlessly integrate front-end and back-end
          technologies. My deep understanding of both development areas allows
          me to deliver robust applications with exceptional user experiences.
        </p>
        <p>
          I have gained alot of experience from working with small teams and
          gained awards from my <a
            class="link"
            href="https://twitter.com/IPRC__Ngoma/status/1565622456269824001"
            >innovative projects</a
          >.
        </p>
        <h3>Skills</h3>
        <p>
          {skills.map(skill=><span>{skill}</span>)}
        </p>
        <a href="/resume" class="btn">my resume / CV</a>
      </div>
      <Image
        class="image"
        src={profile}
        format="webp"
        width={200}
        height={250}
        alt="https://avatars.githubusercontent.com/u/103575700?v=4"
      />
    </article>
  </div>
</section>

<style lang="scss">
  section {
    min-height: 100dvh;
    display: flex;
    align-items: center;
  }
  article {
    display: grid;
    grid-template-columns: auto 25%;
    align-items: center;
    gap: 1rem;
    opacity: 1 !important;
  }
  a.link {
    text-decoration: underline;
    padding: 0;
  }

  .image {
    aspect-ratio: 1;
    width: 100%;
    object-fit: cover;
    mix-blend-mode: multiply;
    filter: contrast(100%) brightness(200%) invert(0);
    scale: 1.5;
    translate: 0 -25%;
  }

  h2 {
    font-size: 2em;
    line-height: 1.1;
  }

  span {
    position: relative;
    overflow: hidden;

    &:hover::before {
      width: 100%;
      transform: translateX(100%);
    }

    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 100%;
      background-color: white;
      top: 0;
      left: 0;
      transition: 1s;
    }
  }

  @media (max-width: 780px) {
    article {
      grid-template-columns: auto 20%;
    }
  }
  @media (max-width: 550px) {
    article {
      grid-template-columns: auto;
      justify-items: center;
    }

    img {
      width: 200px;
    }
  }
</style>
