<section id="about">
  <div>
    <h2 class="underline">Who I am!</h2>
    <article>
      <div>
        <h3>Hi, I am UWITONDANISHEMA Muslim</h3>
        <p>
          A highly organized and detail-oriented programmer and designer with 2
          years of experience.
        </p>
        <p>
          I specialize in creating cohesive, efficient, and effective web
          applications that seamlessly integrate front-end and back-end
          technologies. My deep understanding of both development areas allows
          me to deliver robust applications with exceptional user experiences.
        </p>
        <p>
          I have gained alot of experience from working with small teams and
          gained awards from my <a
            class="link"
            href="https://twitter.com/IPRC__Ngoma/status/1565622456269824001"
            >innovative projects</a
          >.
        </p>
        <h3>Skills</h3>
        <p>
          <span>figma</span><span>adobe XD</span><span>adobe illustrator</span
          ><span>inkscape</span><span>HTML/CSS</span><span>bootstrap</span><span
            >tailwindCSS</span
          ><span>Sass</span><span>javascript</span><span>typescript</span><span
            >reactjs</span
          ><span>redux</span><span>zustand</span><span>jest</span><span
            >nodejs</span
          ><span>express</span><span>nextjs</span><span>mocha</span><span
            >java</span
          ><span>modern PHP</span><span>c/c++</span><span>mysql</span><span
            >postgresql</span
          ><span>mongodb</span><span>docker</span><span>git</span><span
            >linux server</span
          >
        </p>
        <a href="/resume.pdf" class="btn">my resume</a>
      </div>
      <img src="https://avatars.githubusercontent.com/u/103575700?v=4" />
    </article>
  </div>
</section>

<style>
  section {
    min-height: 100dvh;
    display: flex;
    align-items: center;
  }
  article {
    display: grid;
    grid-template-columns: auto 25%;
    align-items: center;
    gap: 1rem;
  }
  a.link {
    text-decoration: underline;
  }

  img {
    aspect-ratio: 1;
    width: 100%;
    object-fit: cover;
    mix-blend-mode: multiply;
    filter: contrast(100%) brightness(200%) invert(0);
    scale: 1.5;
    translate: 0 -25%;
  }

  h2 {
    font-size: 2em;
    line-height: 1.1;
  }

  @media (max-width: 780px) {
    article {
      grid-template-columns: auto 20%;
    }
  }
  @media (max-width: 550px) {
    article {
      grid-template-columns: auto;
      justify-items: center;
      text-align: center;
    }

    h2 {
      text-align: center;
    }

    img {
      width: 200px;
    }
  }
</style>
