---
import Nav from "./Nav.astro";
import ThemeToggler from "./ThemeToggler.astro";
---

<header>
  <a>Muslim</a>
  <Nav />
  <ThemeToggler />
</header>
<style lang="scss">
  header {
    height: 70px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  a {
    font-size: 2rem;
    font-weight: bold;
    user-select: none;
    color: #ae8200;
  }
</style>
