<ul>
  <li><a href="#work" class="link">work</a></li>
  <li><a href="#about" class="link">about me</a></li>
  <li><a href="#contacts" class="link">contacts</a></li>
</ul>

<style lang="scss">
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
  }

  a.link {
    margin-right: 0;
  }
  a.link::after {
    content: none;
  }
  @media (max-width: 540px) {
    ul {
      flex-direction: column;
      z-index: 1;
      position: absolute;
      top: 50px;
      left: 0;
      right: 0;
      background-color: var(--body-bg);
      padding: 2rem;
      padding-top: 0;
      display: none;
    }

    li {
      padding-block: 0.5rem;
    }
  }
</style>
